<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%_ const cssPath = assetPath("app.css") _%>
    <%_ if(cssPath) { _%>
      <link rel="stylesheet" type="text/css" href="<%= cssPath %>" />
    <%_ } _%>
    <link href="/manifest.json" rel="manifest">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="Madrid" name="apple-mobile-web-app-title">
    <%# Loading Typekit font%>
      <script>
        WebFontConfig = {
          typekit: { id: 'fit4gpd' },
          google: {
            families: ['Lora:400,400i,700,700i']
          },
          timeout: 2000 // Set the timeout to two seconds
        };

        (function(d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
        })(document);
      </script>

    <%-metadata.join("\n"); %>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
  </head>

  <body>
    <div id="container"><%- content %></div>
    <div id='breaking-news-container'></div>
    <script type="text/javascript" src="<%= assetPath("app.js") %>" async></script>
   </body>
</html>
