<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/manifest.json" rel="manifest">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="<%= appName %>">
    <meta name="theme-color" content="<%= primaryColor %>">
    <%- metaTags -%>
    <%# curl -vH "User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) Gecko/20100101 Firefox/27.0" 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Lato:400,400i,700,700i' %>
    <style>
      @font-face{font-family:Lato;font-style:italic;font-weight:400;src:local('Lato Italic'),local('Lato-Italic'),url(https://fonts.gstatic.com/s/lato/v14/oUan5VrEkpzIazlUe5ieaA.woff) format('woff')}@font-face{font-family:Lato;font-style:italic;font-weight:700;src:local('Lato Bold Italic'),local('Lato-BoldItalic'),url(https://fonts.gstatic.com/s/lato/v14/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')}@font-face{font-family:Lato;font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(https://fonts.gstatic.com/s/lato/v14/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff')}@font-face{font-family:Lato;font-style:normal;font-weight:700;src:local('Lato Bold'),local('Lato-Bold'),url(https://fonts.gstatic.com/s/lato/v14/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff')}@font-face{font-family:Lora;font-style:italic;font-weight:400;src:local('Lora Italic'),local('Lora-Italic'),url(https://fonts.gstatic.com/s/lora/v12/wXeMvRh7Gui36p_I04Ex6g.woff) format('woff')}@font-face{font-family:Lora;font-style:italic;font-weight:700;src:local('Lora Bold Italic'),local('Lora-BoldItalic'),url(https://fonts.gstatic.com/s/lora/v12/_IxjUs2lbQSu0MyFEAfa7T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')}@font-face{font-family:Lora;font-style:normal;font-weight:400;src:local('Lora Regular'),local('Lora-Regular'),url(https://fonts.gstatic.com/s/lora/v12/5-AYViExptypIdFoLKAxTA.woff) format('woff')}@font-face{font-family:Lora;font-style:normal;font-weight:700;src:local('Lora Bold'),local('Lora-Bold'),url(https://fonts.gstatic.com/s/lora/v12/XpaepWHcooQHSRnzoohUng.woff) format('woff')}
      <%- cssContent %>
      <%- themeCSS %>
    </style>
    <%_ if(gtmID) { _%>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(

      {'gtm.start': new Date().getTime(),event:'gtm.js'}
      );var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%- gtmID %>');</script>
      <!-- End Google Tag Manager -->
    <%_ } _%>
    <%_ if(googleAnalyticsID) { _%>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%- googleAnalyticsID %>"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag()

      {dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%- googleAnalyticsID %>');
      </script>
    <%_ } _%>
  </head>

  <body>
    <div id="navbar"><%- navbar %></div>
    <div id="meType"><%- meType %></div>
    <div id='breaking-news-container' class="breaking-news-wrapper"></div>
    <div id="container">
      <!-- contentTemplate is for static pages, content for other contents -->
      <%_ if(contentTemplate) { _%><%- include(contentTemplate) -%><%_ }else { _%><%- content %><%_ } _%>
    </div>
    <div id="footer"><%- footer %></div>
    <div id="loading-indicator"></div>
    <%_ if(disableAjaxNavigation) { _%>
    <script type="text/javascript">window.disableAjaxNavigation = true;</script>
    <%_ } _%>
    <script type="text/javascript" id="app-js" src="<%= assetPath("app.js") %>" async></script>
    <%_ if(gtmID) { _%>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%- gtmID %>"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <%_ } _%>

    <script type="application/json" id="initial-page"><%- JSON.stringify({config: store.getState().qt.config}) -%></script>
   </body>
</html>
