<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%_ const cssPath = assetPath("app.css") _%>
    <%_ if(cssPath) { _%>
      <link rel="stylesheet" type="text/css" href="<%= cssPath %>" />
    <%_ } _%>
    <link href="/manifest.json" rel="manifest">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="Madrid" name="apple-mobile-web-app-title">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#2f73e4">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#2f73e4">
    <%# Loading Typekit font%>
      <script>
        WebFontConfig = {
          typekit: { id: 'fit4gpd' },
          google: {
            families: ['Lora:400,400i,700,700i']
          },
          timeout: 2000 // Set the timeout to two seconds
        };

        (function(d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
        })(document);
      </script>

    <%-metadata.join("\n"); %>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
  </head>

  <body>
    <div id="navbar"><%- navbar %></div>
    <div id='breaking-news-container' class="breaking-news-wrapper"></div>
    <div id="container"><%- content %></div>
    <div id="footer"><%- footer %></div>
    <div id="loading-indicator"></div>
    <script type="text/javascript" src="<%= assetPath("app.js") %>" async></script>
   </body>
</html>
